.auth-container {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Centers content */
  align-items: center;
  width: 100%; /* Fix width so it doesn't exceed the page */
  max-width: 1200px;
  margin-left: 20%; /* Ensures full centering */

}

.auth-left, .auth-right {
  flex: 1;
  padding: 5%;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-left: -60%;
}

.auth-left label {
  color: #e58e26;
  text-align: left;
  margin-top: -20%;

}

.auth-left {
  background-color: #fffbe6;
  color: #e58e26;
  text-align: left;
}

.auth-left h5 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: -12%;
}

.auth-right {
  background-color: #e58e26;
  color: white;
  text-align: center;
}

.auth-right h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: -2%;
}

.auth-right p {
  margin-bottom: 5%;
}

.form-group {
  margin-bottom: 15px;
}

h3 {
  font-family: 'babygemoy';
  font-size: 100px;
  color: #E98E27 !important;
  text-align: center; /* Fixes centering */
  margin-top: 0%; /* Ensures spacing works */
  width: 100%;
  margin-left: -20%;
  margin-bottom: -50%;
}

p {
  font-size: 18px;
  color:#fffbe6;
  font-weight: normal;
  z-index: 999;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgb(246,225,156);
}

.login-btn {
  width: 100%;
  padding: 10px;
  background-color: #e58e26;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.signup-btn {
  width: 100%;
  padding: 10px;
  border: 1px solid white;
  background: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  background-color: #F6AF54
}

.login-container {
  margin-top: 0%;
  margin-left: -2%;
}


